html {
  background-color: #2b2d42;
  color: #edf2f4;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.logo {
  color: #edf2f4;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #edf2f4;
  text-decoration: none;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
}
